body {
  background-color: #02eebb;
}
header {
  text-align: center;
}
header h1 {
  font-weight: 900;
  font-size: 3em;
}
form {
  text-align: center;
}

.jumbotron {
  background-color: transparent;
}
.calc {
  text-align: center;
  width: 560px;
}
.result {
  color: #ffffff;
  display: flex;
  font-weight: 900;
  font-size: 4em;
}
.result:before {
  content: "=";
  display: flex;
  margin-right: 0.25em;
}
